* text=auto !eol
/CHANGELOG.md -text
/INSTALL.md -text
/LICENSE -text
/README.md -text
/VERSION -text
bindings/tcpdf/qrcode.php -text
docs/generate/HOWTO.md -text
docs/generate/generate.bat -text
docs/generate/phpqrcode-html-doxygen-win.cfg -text
docs/html/annotated.html -text
docs/html/bc_s.png -text
docs/html/bdwn.png -text
docs/html/class_q_rarea-members.html -text
docs/html/class_q_rarea.html -text
docs/html/class_q_rarea.png -text
docs/html/class_q_rarea_group-members.html -text
docs/html/class_q_rarea_group.html -text
docs/html/class_q_rbitstream-members.html -text
docs/html/class_q_rbitstream.html -text
docs/html/class_q_rcanvas_output-members.html -text
docs/html/class_q_rcanvas_output.html -text
docs/html/class_q_rcanvas_output.png -text
docs/html/class_q_rcode-members.html -text
docs/html/class_q_rcode.html -text
docs/html/class_q_rencode-members.html -text
docs/html/class_q_rencode.html -text
docs/html/class_q_rframe_filler-members.html -text
docs/html/class_q_rframe_filler.html -text
docs/html/class_q_rimage-members.html -text
docs/html/class_q_rimage.html -text
docs/html/class_q_rinput-members.html -text
docs/html/class_q_rinput.html -text
docs/html/class_q_rinput_item-members.html -text
docs/html/class_q_rinput_item.html -text
docs/html/class_q_rmask-members.html -text
docs/html/class_q_rmask.html -text
docs/html/class_q_rrawcode-members.html -text
docs/html/class_q_rrawcode.html -text
docs/html/class_q_rrs-members.html -text
docs/html/class_q_rrs.html -text
docs/html/class_q_rrs_item-members.html -text
docs/html/class_q_rrs_item.html -text
docs/html/class_q_rrsblock-members.html -text
docs/html/class_q_rrsblock.html -text
docs/html/class_q_rspec-members.html -text
docs/html/class_q_rspec.html -text
docs/html/class_q_rsplit-members.html -text
docs/html/class_q_rsplit.html -text
docs/html/class_q_rsvg_output-members.html -text
docs/html/class_q_rsvg_output.html -text
docs/html/class_q_rsvg_output.png -text
docs/html/class_q_rtools-members.html -text
docs/html/class_q_rtools.html -text
docs/html/classes.html -text
docs/html/closed.png -text
docs/html/dir_8852f4efb9733fce0a04b8396aeeedee.html -text
docs/html/dir_97aefd0d527b934f1d99a682da8fe6a9.html -text
docs/html/doxygen.css -text
docs/html/doxygen.png -text
docs/html/dynsections.js -text
docs/html/ftv2blank.png -text
docs/html/ftv2cl.png -text
docs/html/ftv2doc.png -text
docs/html/ftv2folderclosed.png -text
docs/html/ftv2folderopen.png -text
docs/html/ftv2lastnode.png -text
docs/html/ftv2link.png -text
docs/html/ftv2mlastnode.png -text
docs/html/ftv2mnode.png -text
docs/html/ftv2mo.png -text
docs/html/ftv2node.png -text
docs/html/ftv2ns.png -text
docs/html/ftv2plastnode.png -text
docs/html/ftv2pnode.png -text
docs/html/ftv2splitbar.png -text
docs/html/ftv2vertline.png -text
docs/html/functions.html -text
docs/html/functions_func.html -text
docs/html/functions_vars.html -text
docs/html/group___core_group.html -text
docs/html/group___output_group.html -text
docs/html/group___q_r___c_o_n_s_t.html -text
docs/html/group___q_r___d_e_f_c_o_n_f_i_g_s.html -text
docs/html/hierarchy.html -text
docs/html/index.html -text
docs/html/jquery.js -text
docs/html/md__c_h_a_n_g_e_l_o_g.html -text
docs/html/md__i_n_s_t_a_l_l.html -text
docs/html/modules.html -text
docs/html/nav_f.png -text
docs/html/nav_g.png -text
docs/html/nav_h.png -text
docs/html/open.png -text
docs/html/pages.html -text
docs/html/search/all_24.html -text
docs/html/search/all_24.js -text
docs/html/search/all_5f.html -text
docs/html/search/all_5f.js -text
docs/html/search/all_61.html -text
docs/html/search/all_61.js -text
docs/html/search/all_63.html -text
docs/html/search/all_63.js -text
docs/html/search/all_64.html -text
docs/html/search/all_64.js -text
docs/html/search/all_65.html -text
docs/html/search/all_65.js -text
docs/html/search/all_66.html -text
docs/html/search/all_66.js -text
docs/html/search/all_67.html -text
docs/html/search/all_67.js -text
docs/html/search/all_69.html -text
docs/html/search/all_69.js -text
docs/html/search/all_6a.html -text
docs/html/search/all_6a.js -text
docs/html/search/all_6d.html -text
docs/html/search/all_6d.js -text
docs/html/search/all_6e.html -text
docs/html/search/all_6e.js -text
docs/html/search/all_70.html -text
docs/html/search/all_70.js -text
docs/html/search/all_71.html -text
docs/html/search/all_71.js -text
docs/html/search/all_72.html -text
docs/html/search/all_72.js -text
docs/html/search/all_73.html -text
docs/html/search/all_73.js -text
docs/html/search/all_74.html -text
docs/html/search/all_74.js -text
docs/html/search/all_75.html -text
docs/html/search/all_75.js -text
docs/html/search/classes_71.html -text
docs/html/search/classes_71.js -text
docs/html/search/close.png -text
docs/html/search/functions_5f.html -text
docs/html/search/functions_5f.js -text
docs/html/search/functions_61.html -text
docs/html/search/functions_61.js -text
docs/html/search/functions_63.html -text
docs/html/search/functions_63.js -text
docs/html/search/functions_64.html -text
docs/html/search/functions_64.js -text
docs/html/search/functions_65.html -text
docs/html/search/functions_65.js -text
docs/html/search/functions_66.html -text
docs/html/search/functions_66.js -text
docs/html/search/functions_67.html -text
docs/html/search/functions_67.js -text
docs/html/search/functions_69.html -text
docs/html/search/functions_69.js -text
docs/html/search/functions_6a.html -text
docs/html/search/functions_6a.js -text
docs/html/search/functions_6d.html -text
docs/html/search/functions_6d.js -text
docs/html/search/functions_6e.html -text
docs/html/search/functions_6e.js -text
docs/html/search/functions_70.html -text
docs/html/search/functions_70.js -text
docs/html/search/functions_72.html -text
docs/html/search/functions_72.js -text
docs/html/search/functions_73.html -text
docs/html/search/functions_73.js -text
docs/html/search/functions_74.html -text
docs/html/search/functions_74.js -text
docs/html/search/functions_75.html -text
docs/html/search/functions_75.js -text
docs/html/search/groups_67.html -text
docs/html/search/groups_67.js -text
docs/html/search/groups_73.html -text
docs/html/search/groups_73.js -text
docs/html/search/mag_sel.png -text
docs/html/search/nomatches.html -text
docs/html/search/pages_63.html -text
docs/html/search/pages_63.js -text
docs/html/search/pages_69.html -text
docs/html/search/pages_69.js -text
docs/html/search/search.css -text
docs/html/search/search.js -text
docs/html/search/search_l.png -text
docs/html/search/search_m.png -text
docs/html/search/search_r.png -text
docs/html/search/variables_24.html -text
docs/html/search/variables_24.js -text
docs/html/search/variables_71.html -text
docs/html/search/variables_71.js -text
docs/html/sync_off.png -text
docs/html/sync_on.png -text
docs/html/tab_a.png -text
docs/html/tab_b.png -text
docs/html/tab_h.png -text
docs/html/tab_s.png -text
docs/html/tabs.css -text
examples/avatar.jpg -text
examples/config.php -text
examples/example_001_simple_png_output.php -text
examples/example_002_simple_png_embedding.php -text
examples/example_003_simple_png_output_param.php -text
examples/example_004_simple_png_embedding_with_param.php -text
examples/example_005_png_to_temp_file.php -text
examples/example_006_configuring_ecc.php -text
examples/example_007_configuring_size.php -text
examples/example_008_configuring_frame.php -text
examples/example_010_merged_lib_usage.php -text
examples/example_020_content_phone_no.php -text
examples/example_021_content_phone_sms.php -text
examples/example_022_content_email.php -text
examples/example_023_content_email.php -text
examples/example_024_content_skype.php -text
examples/example_025_content_business_card.php -text
examples/example_026_content_business_card_detailed.php -text
examples/example_027_content_business_card_photo.php -text
examples/example_201_basic_svg.php -text
examples/example_202_configuring_svg.php -text
examples/example_203_saving_svg.php -text
examples/example_204_saving_svgz.php -text
examples/example_211_basic_canvas.php -text
examples/example_212_custom_canvas_tag.php -text
examples/example_701_text_output.php -text
examples/example_702_text_output_ascii_art.php -text
examples/example_703_custom_output_starting_point.php -text
examples/example_704_custom_output_visualisation.php -text
examples/example_711_custom_gd_output.php -text
examples/example_712_custom_gd_debug.php -text
examples/example_721_vector_area_debug.php -text
examples/example_722_vector_edges_debug.php -text
examples/example_723_vector_paths_debug.php -text
examples/index.php -text
examples/sfproxy.php -text
/index.php -text
lib/full/cache/frame_1.dat -text
lib/full/cache/frame_1.png -text
lib/full/cache/frame_10.dat -text
lib/full/cache/frame_10.png -text
lib/full/cache/frame_11.dat -text
lib/full/cache/frame_11.png -text
lib/full/cache/frame_12.dat -text
lib/full/cache/frame_12.png -text
lib/full/cache/frame_13.dat -text
lib/full/cache/frame_13.png -text
lib/full/cache/frame_14.dat -text
lib/full/cache/frame_14.png -text
lib/full/cache/frame_15.dat -text
lib/full/cache/frame_15.png -text
lib/full/cache/frame_16.dat -text
lib/full/cache/frame_16.png -text
lib/full/cache/frame_17.dat -text
lib/full/cache/frame_17.png -text
lib/full/cache/frame_18.dat -text
lib/full/cache/frame_18.png -text
lib/full/cache/frame_19.dat -text
lib/full/cache/frame_19.png -text
lib/full/cache/frame_2.dat -text
lib/full/cache/frame_2.png -text
lib/full/cache/frame_20.dat -text
lib/full/cache/frame_20.png -text
lib/full/cache/frame_21.dat -text
lib/full/cache/frame_21.png -text
lib/full/cache/frame_22.dat -text
lib/full/cache/frame_22.png -text
lib/full/cache/frame_23.dat -text
lib/full/cache/frame_23.png -text
lib/full/cache/frame_24.dat -text
lib/full/cache/frame_24.png -text
lib/full/cache/frame_25.dat -text
lib/full/cache/frame_25.png -text
lib/full/cache/frame_26.dat -text
lib/full/cache/frame_26.png -text
lib/full/cache/frame_27.dat -text
lib/full/cache/frame_27.png -text
lib/full/cache/frame_28.dat -text
lib/full/cache/frame_28.png -text
lib/full/cache/frame_29.dat -text
lib/full/cache/frame_29.png -text
lib/full/cache/frame_3.dat -text
lib/full/cache/frame_3.png -text
lib/full/cache/frame_30.dat -text
lib/full/cache/frame_30.png -text
lib/full/cache/frame_31.dat -text
lib/full/cache/frame_31.png -text
lib/full/cache/frame_32.dat -text
lib/full/cache/frame_32.png -text
lib/full/cache/frame_33.dat -text
lib/full/cache/frame_33.png -text
lib/full/cache/frame_34.dat -text
lib/full/cache/frame_34.png -text
lib/full/cache/frame_35.dat -text
lib/full/cache/frame_35.png -text
lib/full/cache/frame_36.dat -text
lib/full/cache/frame_36.png -text
lib/full/cache/frame_37.dat -text
lib/full/cache/frame_37.png -text
lib/full/cache/frame_38.dat -text
lib/full/cache/frame_38.png -text
lib/full/cache/frame_39.dat -text
lib/full/cache/frame_39.png -text
lib/full/cache/frame_4.dat -text
lib/full/cache/frame_4.png -text
lib/full/cache/frame_40.dat -text
lib/full/cache/frame_40.png -text
lib/full/cache/frame_5.dat -text
lib/full/cache/frame_5.png -text
lib/full/cache/frame_6.dat -text
lib/full/cache/frame_6.png -text
lib/full/cache/frame_7.dat -text
lib/full/cache/frame_7.png -text
lib/full/cache/frame_8.dat -text
lib/full/cache/frame_8.png -text
lib/full/cache/frame_9.dat -text
lib/full/cache/frame_9.png -text
lib/full/cache/mask_0/mask_101_0.dat -text
lib/full/cache/mask_0/mask_105_0.dat -text
lib/full/cache/mask_0/mask_109_0.dat -text
lib/full/cache/mask_0/mask_113_0.dat -text
lib/full/cache/mask_0/mask_117_0.dat -text
lib/full/cache/mask_0/mask_121_0.dat -text
lib/full/cache/mask_0/mask_125_0.dat -text
lib/full/cache/mask_0/mask_129_0.dat -text
lib/full/cache/mask_0/mask_133_0.dat -text
lib/full/cache/mask_0/mask_137_0.dat -text
lib/full/cache/mask_0/mask_141_0.dat -text
lib/full/cache/mask_0/mask_145_0.dat -text
lib/full/cache/mask_0/mask_149_0.dat -text
lib/full/cache/mask_0/mask_153_0.dat -text
lib/full/cache/mask_0/mask_157_0.dat -text
lib/full/cache/mask_0/mask_161_0.dat -text
lib/full/cache/mask_0/mask_165_0.dat -text
lib/full/cache/mask_0/mask_169_0.dat -text
lib/full/cache/mask_0/mask_173_0.dat -text
lib/full/cache/mask_0/mask_177_0.dat -text
lib/full/cache/mask_0/mask_21_0.dat -text
lib/full/cache/mask_0/mask_25_0.dat -text
lib/full/cache/mask_0/mask_29_0.dat -text
lib/full/cache/mask_0/mask_33_0.dat -text
lib/full/cache/mask_0/mask_37_0.dat -text
lib/full/cache/mask_0/mask_41_0.dat -text
lib/full/cache/mask_0/mask_45_0.dat -text
lib/full/cache/mask_0/mask_49_0.dat -text
lib/full/cache/mask_0/mask_53_0.dat -text
lib/full/cache/mask_0/mask_57_0.dat -text
lib/full/cache/mask_0/mask_61_0.dat -text
lib/full/cache/mask_0/mask_65_0.dat -text
lib/full/cache/mask_0/mask_69_0.dat -text
lib/full/cache/mask_0/mask_73_0.dat -text
lib/full/cache/mask_0/mask_77_0.dat -text
lib/full/cache/mask_0/mask_81_0.dat -text
lib/full/cache/mask_0/mask_85_0.dat -text
lib/full/cache/mask_0/mask_89_0.dat -text
lib/full/cache/mask_0/mask_93_0.dat -text
lib/full/cache/mask_0/mask_97_0.dat -text
lib/full/cache/mask_1/mask_101_1.dat -text
lib/full/cache/mask_1/mask_105_1.dat -text
lib/full/cache/mask_1/mask_109_1.dat -text
lib/full/cache/mask_1/mask_113_1.dat -text
lib/full/cache/mask_1/mask_117_1.dat -text
lib/full/cache/mask_1/mask_121_1.dat -text
lib/full/cache/mask_1/mask_125_1.dat -text
lib/full/cache/mask_1/mask_129_1.dat -text
lib/full/cache/mask_1/mask_133_1.dat -text
lib/full/cache/mask_1/mask_137_1.dat -text
lib/full/cache/mask_1/mask_141_1.dat -text
lib/full/cache/mask_1/mask_145_1.dat -text
lib/full/cache/mask_1/mask_149_1.dat -text
lib/full/cache/mask_1/mask_153_1.dat -text
lib/full/cache/mask_1/mask_157_1.dat -text
lib/full/cache/mask_1/mask_161_1.dat -text
lib/full/cache/mask_1/mask_165_1.dat -text
lib/full/cache/mask_1/mask_169_1.dat -text
lib/full/cache/mask_1/mask_173_1.dat -text
lib/full/cache/mask_1/mask_177_1.dat -text
lib/full/cache/mask_1/mask_21_1.dat -text
lib/full/cache/mask_1/mask_25_1.dat -text
lib/full/cache/mask_1/mask_29_1.dat -text
lib/full/cache/mask_1/mask_33_1.dat -text
lib/full/cache/mask_1/mask_37_1.dat -text
lib/full/cache/mask_1/mask_41_1.dat -text
lib/full/cache/mask_1/mask_45_1.dat -text
lib/full/cache/mask_1/mask_49_1.dat -text
lib/full/cache/mask_1/mask_53_1.dat -text
lib/full/cache/mask_1/mask_57_1.dat -text
lib/full/cache/mask_1/mask_61_1.dat -text
lib/full/cache/mask_1/mask_65_1.dat -text
lib/full/cache/mask_1/mask_69_1.dat -text
lib/full/cache/mask_1/mask_73_1.dat -text
lib/full/cache/mask_1/mask_77_1.dat -text
lib/full/cache/mask_1/mask_81_1.dat -text
lib/full/cache/mask_1/mask_85_1.dat -text
lib/full/cache/mask_1/mask_89_1.dat -text
lib/full/cache/mask_1/mask_93_1.dat -text
lib/full/cache/mask_1/mask_97_1.dat -text
lib/full/cache/mask_2/mask_101_2.dat -text
lib/full/cache/mask_2/mask_105_2.dat -text
lib/full/cache/mask_2/mask_109_2.dat -text
lib/full/cache/mask_2/mask_113_2.dat -text
lib/full/cache/mask_2/mask_117_2.dat -text
lib/full/cache/mask_2/mask_121_2.dat -text
lib/full/cache/mask_2/mask_125_2.dat -text
lib/full/cache/mask_2/mask_129_2.dat -text
lib/full/cache/mask_2/mask_133_2.dat -text
lib/full/cache/mask_2/mask_137_2.dat -text
lib/full/cache/mask_2/mask_141_2.dat -text
lib/full/cache/mask_2/mask_145_2.dat -text
lib/full/cache/mask_2/mask_149_2.dat -text
lib/full/cache/mask_2/mask_153_2.dat -text
lib/full/cache/mask_2/mask_157_2.dat -text
lib/full/cache/mask_2/mask_161_2.dat -text
lib/full/cache/mask_2/mask_165_2.dat -text
lib/full/cache/mask_2/mask_169_2.dat -text
lib/full/cache/mask_2/mask_173_2.dat -text
lib/full/cache/mask_2/mask_177_2.dat -text
lib/full/cache/mask_2/mask_21_2.dat -text
lib/full/cache/mask_2/mask_25_2.dat -text
lib/full/cache/mask_2/mask_29_2.dat -text
lib/full/cache/mask_2/mask_33_2.dat -text
lib/full/cache/mask_2/mask_37_2.dat -text
lib/full/cache/mask_2/mask_41_2.dat -text
lib/full/cache/mask_2/mask_45_2.dat -text
lib/full/cache/mask_2/mask_49_2.dat -text
lib/full/cache/mask_2/mask_53_2.dat -text
lib/full/cache/mask_2/mask_57_2.dat -text
lib/full/cache/mask_2/mask_61_2.dat -text
lib/full/cache/mask_2/mask_65_2.dat -text
lib/full/cache/mask_2/mask_69_2.dat -text
lib/full/cache/mask_2/mask_73_2.dat -text
lib/full/cache/mask_2/mask_77_2.dat -text
lib/full/cache/mask_2/mask_81_2.dat -text
lib/full/cache/mask_2/mask_85_2.dat -text
lib/full/cache/mask_2/mask_89_2.dat -text
lib/full/cache/mask_2/mask_93_2.dat -text
lib/full/cache/mask_2/mask_97_2.dat -text
lib/full/cache/mask_3/mask_101_3.dat -text
lib/full/cache/mask_3/mask_105_3.dat -text
lib/full/cache/mask_3/mask_109_3.dat -text
lib/full/cache/mask_3/mask_113_3.dat -text
lib/full/cache/mask_3/mask_117_3.dat -text
lib/full/cache/mask_3/mask_121_3.dat -text
lib/full/cache/mask_3/mask_125_3.dat -text
lib/full/cache/mask_3/mask_129_3.dat -text
lib/full/cache/mask_3/mask_133_3.dat -text
lib/full/cache/mask_3/mask_137_3.dat -text
lib/full/cache/mask_3/mask_141_3.dat -text
lib/full/cache/mask_3/mask_145_3.dat -text
lib/full/cache/mask_3/mask_149_3.dat -text
lib/full/cache/mask_3/mask_153_3.dat -text
lib/full/cache/mask_3/mask_157_3.dat -text
lib/full/cache/mask_3/mask_161_3.dat -text
lib/full/cache/mask_3/mask_165_3.dat -text
lib/full/cache/mask_3/mask_169_3.dat -text
lib/full/cache/mask_3/mask_173_3.dat -text
lib/full/cache/mask_3/mask_177_3.dat -text
lib/full/cache/mask_3/mask_21_3.dat -text
lib/full/cache/mask_3/mask_25_3.dat -text
lib/full/cache/mask_3/mask_29_3.dat -text
lib/full/cache/mask_3/mask_33_3.dat -text
lib/full/cache/mask_3/mask_37_3.dat -text
lib/full/cache/mask_3/mask_41_3.dat -text
lib/full/cache/mask_3/mask_45_3.dat -text
lib/full/cache/mask_3/mask_49_3.dat -text
lib/full/cache/mask_3/mask_53_3.dat -text
lib/full/cache/mask_3/mask_57_3.dat -text
lib/full/cache/mask_3/mask_61_3.dat -text
lib/full/cache/mask_3/mask_65_3.dat -text
lib/full/cache/mask_3/mask_69_3.dat -text
lib/full/cache/mask_3/mask_73_3.dat -text
lib/full/cache/mask_3/mask_77_3.dat -text
lib/full/cache/mask_3/mask_81_3.dat -text
lib/full/cache/mask_3/mask_85_3.dat -text
lib/full/cache/mask_3/mask_89_3.dat -text
lib/full/cache/mask_3/mask_93_3.dat -text
lib/full/cache/mask_3/mask_97_3.dat -text
lib/full/cache/mask_4/mask_101_4.dat -text
lib/full/cache/mask_4/mask_105_4.dat -text
lib/full/cache/mask_4/mask_109_4.dat -text
lib/full/cache/mask_4/mask_113_4.dat -text
lib/full/cache/mask_4/mask_117_4.dat -text
lib/full/cache/mask_4/mask_121_4.dat -text
lib/full/cache/mask_4/mask_125_4.dat -text
lib/full/cache/mask_4/mask_129_4.dat -text
lib/full/cache/mask_4/mask_133_4.dat -text
lib/full/cache/mask_4/mask_137_4.dat -text
lib/full/cache/mask_4/mask_141_4.dat -text
lib/full/cache/mask_4/mask_145_4.dat -text
lib/full/cache/mask_4/mask_149_4.dat -text
lib/full/cache/mask_4/mask_153_4.dat -text
lib/full/cache/mask_4/mask_157_4.dat -text
lib/full/cache/mask_4/mask_161_4.dat -text
lib/full/cache/mask_4/mask_165_4.dat -text
lib/full/cache/mask_4/mask_169_4.dat -text
lib/full/cache/mask_4/mask_173_4.dat -text
lib/full/cache/mask_4/mask_177_4.dat -text
lib/full/cache/mask_4/mask_21_4.dat -text
lib/full/cache/mask_4/mask_25_4.dat -text
lib/full/cache/mask_4/mask_29_4.dat -text
lib/full/cache/mask_4/mask_33_4.dat -text
lib/full/cache/mask_4/mask_37_4.dat -text
lib/full/cache/mask_4/mask_41_4.dat -text
lib/full/cache/mask_4/mask_45_4.dat -text
lib/full/cache/mask_4/mask_49_4.dat -text
lib/full/cache/mask_4/mask_53_4.dat -text
lib/full/cache/mask_4/mask_57_4.dat -text
lib/full/cache/mask_4/mask_61_4.dat -text
lib/full/cache/mask_4/mask_65_4.dat -text
lib/full/cache/mask_4/mask_69_4.dat -text
lib/full/cache/mask_4/mask_73_4.dat -text
lib/full/cache/mask_4/mask_77_4.dat -text
lib/full/cache/mask_4/mask_81_4.dat -text
lib/full/cache/mask_4/mask_85_4.dat -text
lib/full/cache/mask_4/mask_89_4.dat -text
lib/full/cache/mask_4/mask_93_4.dat -text
lib/full/cache/mask_4/mask_97_4.dat -text
lib/full/cache/mask_5/mask_101_5.dat -text
lib/full/cache/mask_5/mask_105_5.dat -text
lib/full/cache/mask_5/mask_109_5.dat -text
lib/full/cache/mask_5/mask_113_5.dat -text
lib/full/cache/mask_5/mask_117_5.dat -text
lib/full/cache/mask_5/mask_121_5.dat -text
lib/full/cache/mask_5/mask_125_5.dat -text
lib/full/cache/mask_5/mask_129_5.dat -text
lib/full/cache/mask_5/mask_133_5.dat -text
lib/full/cache/mask_5/mask_137_5.dat -text
lib/full/cache/mask_5/mask_141_5.dat -text
lib/full/cache/mask_5/mask_145_5.dat -text
lib/full/cache/mask_5/mask_149_5.dat -text
lib/full/cache/mask_5/mask_153_5.dat -text
lib/full/cache/mask_5/mask_157_5.dat -text
lib/full/cache/mask_5/mask_161_5.dat -text
lib/full/cache/mask_5/mask_165_5.dat -text
lib/full/cache/mask_5/mask_169_5.dat -text
lib/full/cache/mask_5/mask_173_5.dat -text
lib/full/cache/mask_5/mask_177_5.dat -text
lib/full/cache/mask_5/mask_21_5.dat -text
lib/full/cache/mask_5/mask_25_5.dat -text
lib/full/cache/mask_5/mask_29_5.dat -text
lib/full/cache/mask_5/mask_33_5.dat -text
lib/full/cache/mask_5/mask_37_5.dat -text
lib/full/cache/mask_5/mask_41_5.dat -text
lib/full/cache/mask_5/mask_45_5.dat -text
lib/full/cache/mask_5/mask_49_5.dat -text
lib/full/cache/mask_5/mask_53_5.dat -text
lib/full/cache/mask_5/mask_57_5.dat -text
lib/full/cache/mask_5/mask_61_5.dat -text
lib/full/cache/mask_5/mask_65_5.dat -text
lib/full/cache/mask_5/mask_69_5.dat -text
lib/full/cache/mask_5/mask_73_5.dat -text
lib/full/cache/mask_5/mask_77_5.dat -text
lib/full/cache/mask_5/mask_81_5.dat -text
lib/full/cache/mask_5/mask_85_5.dat -text
lib/full/cache/mask_5/mask_89_5.dat -text
lib/full/cache/mask_5/mask_93_5.dat -text
lib/full/cache/mask_5/mask_97_5.dat -text
lib/full/cache/mask_6/mask_101_6.dat -text
lib/full/cache/mask_6/mask_105_6.dat -text
lib/full/cache/mask_6/mask_109_6.dat -text
lib/full/cache/mask_6/mask_113_6.dat -text
lib/full/cache/mask_6/mask_117_6.dat -text
lib/full/cache/mask_6/mask_121_6.dat -text
lib/full/cache/mask_6/mask_125_6.dat -text
lib/full/cache/mask_6/mask_129_6.dat -text
lib/full/cache/mask_6/mask_133_6.dat -text
lib/full/cache/mask_6/mask_137_6.dat -text
lib/full/cache/mask_6/mask_141_6.dat -text
lib/full/cache/mask_6/mask_145_6.dat -text
lib/full/cache/mask_6/mask_149_6.dat -text
lib/full/cache/mask_6/mask_153_6.dat -text
lib/full/cache/mask_6/mask_157_6.dat -text
lib/full/cache/mask_6/mask_161_6.dat -text
lib/full/cache/mask_6/mask_165_6.dat -text
lib/full/cache/mask_6/mask_169_6.dat -text
lib/full/cache/mask_6/mask_173_6.dat -text
lib/full/cache/mask_6/mask_177_6.dat -text
lib/full/cache/mask_6/mask_21_6.dat -text
lib/full/cache/mask_6/mask_25_6.dat -text
lib/full/cache/mask_6/mask_29_6.dat -text
lib/full/cache/mask_6/mask_33_6.dat -text
lib/full/cache/mask_6/mask_37_6.dat -text
lib/full/cache/mask_6/mask_41_6.dat -text
lib/full/cache/mask_6/mask_45_6.dat -text
lib/full/cache/mask_6/mask_49_6.dat -text
lib/full/cache/mask_6/mask_53_6.dat -text
lib/full/cache/mask_6/mask_57_6.dat -text
lib/full/cache/mask_6/mask_61_6.dat -text
lib/full/cache/mask_6/mask_65_6.dat -text
lib/full/cache/mask_6/mask_69_6.dat -text
lib/full/cache/mask_6/mask_73_6.dat -text
lib/full/cache/mask_6/mask_77_6.dat -text
lib/full/cache/mask_6/mask_81_6.dat -text
lib/full/cache/mask_6/mask_85_6.dat -text
lib/full/cache/mask_6/mask_89_6.dat -text
lib/full/cache/mask_6/mask_93_6.dat -text
lib/full/cache/mask_6/mask_97_6.dat -text
lib/full/cache/mask_7/mask_101_7.dat -text
lib/full/cache/mask_7/mask_105_7.dat -text
lib/full/cache/mask_7/mask_109_7.dat -text
lib/full/cache/mask_7/mask_113_7.dat -text
lib/full/cache/mask_7/mask_117_7.dat -text
lib/full/cache/mask_7/mask_121_7.dat -text
lib/full/cache/mask_7/mask_125_7.dat -text
lib/full/cache/mask_7/mask_129_7.dat -text
lib/full/cache/mask_7/mask_133_7.dat -text
lib/full/cache/mask_7/mask_137_7.dat -text
lib/full/cache/mask_7/mask_141_7.dat -text
lib/full/cache/mask_7/mask_145_7.dat -text
lib/full/cache/mask_7/mask_149_7.dat -text
lib/full/cache/mask_7/mask_153_7.dat -text
lib/full/cache/mask_7/mask_157_7.dat -text
lib/full/cache/mask_7/mask_161_7.dat -text
lib/full/cache/mask_7/mask_165_7.dat -text
lib/full/cache/mask_7/mask_169_7.dat -text
lib/full/cache/mask_7/mask_173_7.dat -text
lib/full/cache/mask_7/mask_177_7.dat -text
lib/full/cache/mask_7/mask_21_7.dat -text
lib/full/cache/mask_7/mask_25_7.dat -text
lib/full/cache/mask_7/mask_29_7.dat -text
lib/full/cache/mask_7/mask_33_7.dat -text
lib/full/cache/mask_7/mask_37_7.dat -text
lib/full/cache/mask_7/mask_41_7.dat -text
lib/full/cache/mask_7/mask_45_7.dat -text
lib/full/cache/mask_7/mask_49_7.dat -text
lib/full/cache/mask_7/mask_53_7.dat -text
lib/full/cache/mask_7/mask_57_7.dat -text
lib/full/cache/mask_7/mask_61_7.dat -text
lib/full/cache/mask_7/mask_65_7.dat -text
lib/full/cache/mask_7/mask_69_7.dat -text
lib/full/cache/mask_7/mask_73_7.dat -text
lib/full/cache/mask_7/mask_77_7.dat -text
lib/full/cache/mask_7/mask_81_7.dat -text
lib/full/cache/mask_7/mask_85_7.dat -text
lib/full/cache/mask_7/mask_89_7.dat -text
lib/full/cache/mask_7/mask_93_7.dat -text
lib/full/cache/mask_7/mask_97_7.dat -text
lib/full/qrarea.php -text
lib/full/qrbitstream.php -text
lib/full/qrcanvas.php -text
lib/full/qrconfig.php -text
lib/full/qrconst.php -text
lib/full/qrencode.php -text
lib/full/qrimage.php -text
lib/full/qrinput.php -text
lib/full/qrlib.php -text
lib/full/qrmask.php -text
lib/full/qrrscode.php -text
lib/full/qrspec.php -text
lib/full/qrsplit.php -text
lib/full/qrsvg.php -text
lib/full/qrtools.php -text
lib/js/qrcanvas.js -text
lib/js/qrcanvas.packed.js -text
lib/merged/phpqrcode.php -text
tools/Dean.Edwards.dll -text
tools/JavaScriptSupport.dll -text
tools/cat.exe -text
tools/jsmin.exe -text
tools/merge.bat -text
tools/merge.php -text
tools/merge.sh -text
tools/merged_config.php -text
tools/merged_header.php -text
tools/pack.bat -text
tools/packer.exe -text
tools/qrcanvas_header.txt -text
tools/tail.exe -text
